# *.html linguist-vendored=true
# *.html linguist-generated=true
# *.html linguist-documentation=true

# *.css linguist-vendored=true
# *.css linguist-generated=true
# *.css linguist-documentation=true
