:root {
	--col-title: rgb(255, 200, 17);
	--col-vnum: rgb(255, 104, 17);
	--col-bg1: rgb(39, 39, 39);
	--col-bg2: rgb(34, 34, 34);
	--col-fgdark: rgb(71, 71, 71);
}

body {
	background-color: var(--col-bg1);
	width: 100vw;
	height: 100vh;
	margin: 0;

	overflow: hidden;

	display: flex;
	justify-content: center;
}

a {
	color: var(--col-title);
	cursor: pointer;
}

.wrapper {
	width: 70%;
	height: 100%;
}

.header {
	text-align: center;
	line-height: 20px;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;

	position: fixed;
	width: 100%;
	height: 13.5%;
	left: 0;
	top: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

.header span {
	color: var(--col-title);
	font-family: "Lato";
}
.header #logo {
	font-weight: bold;
	font-size: 40pt;
}
.header #pipe {
	transform: scale(1.1, 2) translateY(-2px);
	-moz-transform: scale(1.1, 2) translateY(-2px);

	display: inline-block;
	font-size: 30pt;

	padding: 0 20px;
}
.header #db {
	font-size: 24pt;
}

.rulesets {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;

	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.rulesets.empty #add-ruleset {
	opacity: 0;
	width: 0;
	height: 0;
}

.rulesets #add-ruleset > button {
	background-color: var(--col-fgdark);
	border: none;
	border-radius: 50px;

	cursor: pointer;

	width: 40px;
	height: 40px;

	align-items: center;
	justify-content: center;
	display: flex;

	transition: all 0.1s ease-in-out;

	position: fixed;
	top: 18%;
	right: 17%;
}
.rulesets #add-ruleset > button:hover {
	background-color: var(--col-title);
}
.rulesets #add-ruleset > button > img {
	filter: invert(1);

	width: 65%;
	
	transition: all 0.1s ease-in-out;
}
.rulesets #add-ruleset > button:hover > img {
	filter: invert(0.1);

	width: 65%;
}

.rulesets > ul {
	width: 100%;
	height: 70%;

	background-color: var(--col-bg2);
	border-radius: 15px;

	overflow-x: hidden;

	padding: 0;
	margin: 0;
}

.rulesets #no-rulesets {
	color: var(--col-fgdark);
	font-family: "Fira Mono", monospace;
	font-size: 28pt;

	user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 0;
	height: 0;
}
.rulesets.empty #no-rulesets {
	width: 100%;
	height: 100%;
}
.rulesets #no-rulesets h2 {
	opacity: 0;
}
.rulesets.empty #no-rulesets h2 {
	opacity: 1;

	font-size: 20pt;
	font-weight: normal;

	margin: 0;

	text-align: center;
}
.rulesets #no-rulesets > #emoticon {
	/* non-standard characters are used here so lots of fallback fonts are needed */
	font-family: "Fira Mono", sans-serif, "FreeSans", "Arial", "Helvetica";
	font-size: 38pt;
	font-weight: bold;

	margin-bottom: 24pt;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 10%;

	text-align: center;
}
.footer #cred {
	font-family: "Lato";
	font-size: 12pt;
	color: white;
	user-select: none;
}
.footer #ghlogo img {
	width: 20px;
	padding-top: 5px;
	filter: brightness(0) invert(1);
	user-select: none;

	transform: translateY(-3px);
	-moz-transform: translateY(-3px);
}
.footer #ghlogo:hover img {
	filter: brightness(1) invert(0);
}

.corner-logo {
	position: absolute;
	bottom: 0;
	right: 0;

	margin: 40px;
}
.corner-logo img {
	width: 48px;
	user-select: none;

	transition: all 0.1s ease-in-out;
}
.corner-logo img:hover {
	filter: brightness(1.2);
	transform: scale(1.1);
}