:root {
	--col-title: rgb(255, 200, 17);
	--col-vnum: rgb(255, 104, 17);
	--col-bg1: rgb(39, 39, 39);
	--col-bg2: rgb(58, 58, 58);
}

body {
	background-color: var(--col-bg1);
	width: 100vw;
	height: 100vh;
	margin: 0;

	overflow-x: hidden;

	display: flex;
	justify-content: center;
}

a {
	cursor: pointer;
}

.wrapper {
	width: 70%;
	height: 100%;
}

.header {
	text-align: center;
	line-height: 20px;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;

	position: fixed;
	width: 100%;
	height: 100px;
	left: 0;
	top: 0;

	display: flex;
	justify-content: center;
	align-items: center;
}

.header span {
	color: var(--col-title);
	font-family: "Lato";
}
.header #logo {
	font-weight: bold;
	font-size: 40pt;
}
.header #pipe {
	transform: scale(1.1, 2) translateY(-2px);
	-moz-transform: scale(1.1, 2) translateY(-2px);

	display: inline-block;
	font-size: 30pt;

	padding: 0 20px;
}
.header #db {
	font-size: 24pt;
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 80px;

	text-align: center;
}
.footer #cred {
	font-family: "Lato";
	font-size: 12pt;
	color: white;
	user-select: none;
}
.footer #ghlogo img {
	width: 20px;
	padding-top: 5px;
	filter: brightness(0) invert(1);
	user-select: none;

	transform: translateY(-3px);
	-moz-transform: translateY(-3px);
}
.footer #ghlogo:hover img {
	filter: brightness(1) invert(0);
}