@keyframes fadein {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}
@keyframes fadeout {
    from {
        opacity: 1;
    } to {
        opacity: 0;
    }
}

@keyframes zoomin {
    from {
        transform: scale(0.8);
        opacity: 0;
    } to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes zoomout {
    from {
        transform: scale(1);
        opacity: 1;
    } to {
        transform: scale(0.8);
        opacity: 0;
    }
}

.modal {
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);

    justify-content: center;
    align-items: center;

    display: none;

    animation: fadein 0.1s ease-in-out;
    animation-fill-mode: both;
}
.modal.closing {
    animation: fadeout 0.1s ease-in-out;
    animation-fill-mode: both;
}

.modal-content {
    background-color: var(--col-bg3);
    border: 2px solid var(--col-title);

    border-radius: 10px;

	font-family: "Lato";
    color: white;

    text-align: center;

    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    position: relative;

    animation: zoomin 0.1s ease-in-out;
    animation-fill-mode: both;
}
.modal.closing .modal-content {
    animation: zoomout 0.1s ease-in-out;
    animation-fill-mode: both;
}

#delete-prompt .modal-content {
    width: 650px;
    height: 200px;
}

.modal-prompt {
    position: relative;
}

.modal-prompt > h2 {
    font-size: 26pt;
    color: var(--col-title);
}
.modal-prompt > p {
    font-size: 16pt;
    font-style: italic;
}

.cancelbtn, .continuebtn {
	padding: 10px 80px;
    border-radius: 8px;

    /* --col-bg2 in popup.css */
    background-color: rgb(58, 58, 58);

    color: var(--col-title);
	font-family: "Lato";
    border: none;
    font-size: 14pt;

    transition: all 0.15s ease-in-out;

    float: left;

    cursor: pointer;
}
.continuebtn {
    font-weight: bold;
}
.continuebtn:hover, .cancelbtn:hover {
    background-color: var(--col-title);
    color: var(--col-bg3);
    transform: scale(1.1);
}
.cancelbtn:hover {
    background-color: var(--col-url);
}

.modal-choices {
    display: flex;
    justify-content: space-evenly;
}

.modal-tabs {
    position: absolute;
    width: 60px;
    height: 100%;

    background-color: var(--col-bg2);
}

.modal-tabs > button {
    background: none;
    color: white;

    width: 100%;
    height: 40px;

    border: none;
    border-bottom: 2px solid var(--col-bg1);

    cursor: pointer;

    transition: all 0.15s ease-in-out;
}

.modal-tabs > button:hover, .modal-tabs > button.current {
    background-color: var(--col-bg3);
}
.modal-tabs > button.current {
    color: var(--col-title);
}

#edit-prompt .modal-content {
    width: 875px;
    height: 400px;
}
